<link rel="stylesheet" href="/css/styles.css">
<body>
<main>
<h2>Detail</h2>
<hr>
<h4><a href="/">Back to tapes</a></h4>

<h3>Artist: <%= artist %></h3>

<p><%= result.title %></p>
<p><%= result.genre %></p>
<p><%= result.year %></p>
<p>$<%= result.price %></p>
</main>
</body>